# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Unreal forder
Lingzerg-UnrealDemo/Lingzerg_UE_427_Demo/DerivedDataCache
Lingzerg-UnrealDemo/Lingzerg_UE_427_DemoIntermediate

# Unity forder
Lingzerg-UnityDemo/Library
Lingzerg-UnityDemo/Logs
Lingzerg-UnityDemo/obj
Lingzerg-UnityDemo/.vscode
Lingzerg-UnityDemo/.vs
Lingzerg-UnityDemo/obj
Lingzerg-UnityDemo/Library
Lingzerg-UnityDemo/Temp
Lingzerg-UnityDemo/.vs

# WoodyRenderingPipeline forder
WoodyRenderingPipeline/.vs
WoodyRenderingPipeline/Debug
WoodyRenderingPipeline/x64